.Profiles {
  display: flex;
  justify-content: space-around;
  width: 900px;
  padding: 40px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
}

.Profile {
  width: 80px;
}

.Profile p {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 5px solid brown;
  padding: 5px;
}
