.FollowedPosts {
  width: 900px;
  margin: 0 auto;
  margin-top: 40px;
}

.Post {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  background-color: white;
  margin-top: 40px;
}

.postProfileImage {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 5px solid brown;
  padding: 3px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.postHeader p {
  margin-left: 20px;
}

.postImage {
  width: 100%;
}

.postContent {
  padding: 30px;
}

.postControls i {
  margin-right: 20px;
}

.postLikes {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.postLikes p {
  margin-left: 10px;
}

.postLikeImage {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.postComments {
  margin-top: 20px;
}

.postComment {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(199, 199, 199);
  padding: 20px 30px;
}

.postComment input {
  outline: none;
  border: none;
  font-size: 16px;
}

.postComment .commentSubmit {
  background: none;
  color: rgb(97, 153, 255);
  font-weight: bolder;
}
