.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Controls i {
  padding: 10px;
}

.controlProfileImage {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: whitesmoke;
  margin-left: 10px;
}
