.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(199, 199, 199);
  background-color: white;
}

.Header h1 {
  font-family: "Brush Script MT", cursive;
}
